<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blankspace.houseRent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.blankspace.houseRent.Activities.ImagesActivity"></activity>
        <activity android:name="com.blankspace.houseRent.Activities.UploadActivity" />
        <activity android:name="com.blankspace.houseRent.Activities.AdvertActivity" />
        <activity
            android:name="com.blankspace.houseRent.Activities.PropertyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.blankspace.houseRent.Activities.PropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.blankspace.houseRent.Activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.blankspace.houseRent.Activities.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.blankspace.houseRent.Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>